.ExpensesTable table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.ExpensesTable thead {
  font-weight: bold;
}

.ExpensesTable thead td {
  background: #eee;
}

.ExpensesTable td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.ExpensesTable tr:nth-child(2n) > td {
  background: #f8f8f8;
}

.ExpensesTable-price {
  text-align: right;
}

.ExpensesTable-actions {
  text-align: right;
}
