.ExpenseForm form {
  display: grid;
  grid-template-columns: 50% auto;
  margin-bottom: 20px;
}

.ExpenseForm .FormField {
  grid-column: 1 / 2;
}

.ExpenseForm .FormField-field {
  display: flex;
  align-items: center;
}

.ExpenseForm .FormField-error-message {
  margin: 10px 0;
  font-size: 12px;
  color: #f44;
}

.ExpenseForm .FormField label {
  width: 160px;
}

.ExpenseForm input[type="text"] {
  width: 160px;
}

.ExpenseForm button[type="submit"] {
  align-self: center;
  justify-self: left;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

@media (max-width: 740px) {
  .ExpenseForm form {
    grid-template-columns: 100%;
  }
  .ExpenseForm button[type="submit"]  {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}
